spring/src/main/resources/META-INF/gulosity.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
        xmlns="http://www.opdar.com/schema/gulosity"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://www.opdar.com/schema/gulosity"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="client" id="gulosity-client">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="host" type="xsd:string" use="required"/>
                    <xsd:attribute name="port" type="xsd:int" use="required"/>
                    <xsd:attribute name="uid" type="xsd:int" use="optional"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="context" id="gulosity-context">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:sequence>
                        <xsd:element name="listeners" type="listener" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="mapping" maxOccurs="1" minOccurs="0" >
                            <xsd:complexType>
                                <xsd:attribute name="package" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="server" maxOccurs="1" minOccurs="0" >
                            <xsd:complexType>
                                <xsd:attribute name="port" type="xsd:int" use="required"/>
                                <xsd:attribute name="max-size" type="xsd:int" default="10240"/>
                                <xsd:attribute name="disk-path" use="required" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="host" type="xsd:string" use="required"/>
                    <xsd:attribute name="port" type="xsd:int" use="required"/>
                    <xsd:attribute name="userName" type="xsd:string" use="required"/>
                    <xsd:attribute name="passWord" type="xsd:string" use="required"/>
                    <xsd:attribute name="serverId" type="xsd:int" use="optional"/>
                    <xsd:attribute name="defaultDatabaseName" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="listener" >
        <xsd:sequence>
            <xsd:element name="listener" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute use="required" name="class" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>